
<%= form_for @article do |f| %>
 
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <% if false %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <% end %>
 
  <% if false %>
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>
 <% end %>
 
  <p>
    <%= f.label 'username' %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :role %><br>
    <%= f.text_field :role %>
  </p>
 
  <p>
    <%= f.label 'oncall - true or false' %><br>
    <% if false %>
      <%= f.text_field :oncall %>
    <% end %>
    <%= f.select :oncall, [['True', 1],['False', 0]] %>
  </p>
 
  <p>
    <%= f.label 'locale - nv, md, china' %><br>
    <% if false %>
      <%= f.text_field :locale %>
    <% end %>
    <%= f.select :locale, [['NV', 'nv'],['MD', 'md'],['China', 'china']] %>
  </p>
 
  <p>
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>

<% end %>


