<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Role</Data></Cell>
        <Cell><Data ss:Type="String">Oncall</Data></Cell>
        <Cell><Data ss:Type="String">Locale</Data></Cell>
	<Cell><Data ss:Type="String">Notes</Data></Cell>
    </Row>
    <% @articles.each do |article| %>
      <Row>
        <Cell><Data ss:Type="String"><%= article.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= article.role %></Data></Cell>
        <Cell><Data ss:Type="String"><%= article.oncall %></Data></Cell>
        <Cell><Data ss:Type="String"><%= article.locale %></Data></Cell>
        <Cell><Data ss:Type="String"><%= article.notes %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
