<h1>index - articles</h1>

<%= link_to 'Home - welcome', {controller: 'welcome', action: 'index'} %>
<br></br>

<%= link_to 'Add new user', new_article_path %>
<br></br>

<% if false %>
<%= link_to 'Add new user-2', { controller: 'articles', action: 'new' } %>
<br></br>
<% end %>

<p>
  Download:
  <%= link_to "CSV", articles_path(format: "csv") %> |
  <%= link_to "XLS", articles_path(format: "xls") %>
</p>

<br></br>

<% if false %>
  <%= link_to "Save", { :controller => 'misc', :action => 'dummy_save' } %>
<% end %>

<% if true %>
  <%= button_to "Save", { controller: 'misc', action: 'dummy_save' }, :method => :get %>
<% end %>

<br></br>

<table id="tableUsers" class="table1">
  <thead>
    <tr>
      <% if false %>
	<th>Title</th>
	<th>Text</th>
      <% end %>
      
      <th>Name</th>
      <th>Role</th>
      <th>onCall</th>
      <th>Locale</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>
 
  <tbody>
    <% @articles.each do |f| %>
      
      <% if true %>
        <tr>
      <% else %>
	<tr class="<%= cycle('oddrow', 'evenrow') -%>">
      <% end %>
        
        <% if false %>
          <td><%= f.title %></td>
          <td><%= f.text %></td>
        <% end %>
        
        <% if false %>
          <td><%= best_in_place f, :title %></td>
          <td><%= best_in_place f, :text %></td>
        <% end %>
        
        <% if true %>
          <td><%= best_in_place f, :name %></td>
          <td><%= best_in_place f, :role %></td>
          <td><%= best_in_place f, :oncall, type: :checkbox, collection: %w[No Yes] %></td>
	  <td><%= best_in_place f, :locale, type: :select, collection: [["nv", "NV"],
	  ["md", "MD"], ["china", "China"]] %></td>
          <td><%= best_in_place f, :notes, type: :textarea %></td>
	<% end %>
          
        <td><%= link_to 'Show', article_path(f) %></td>
        <td><%= link_to 'Edit', edit_article_path(f) %></td>
        <td><%= link_to 'Destroy', article_path(f),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if true %>
  <%= button_to "Add", { controller: 'misc', action: 'dummy_add' }, :method => :get %>
<% end %>

<% if false %>
  <%= link_to "Add", { controller: 'misc', action: 'dummy_add' } %>
<% end %>


<% if false %>
<p>
  <%= "Task Field" %>
  <%= text_field(:field, :task, size: 20) %>
</p>
<% end %>

<% if false %>
  <%= link_to "Add Task", { controller: 'misc', action: 'dummy_add' } %>
<% end %>



    




