<h1>show - article</h1>
<br></br>

<% if false %>
  <p>
    <strong>Title:</strong>
    <%= @article.title %>
  </p>
 
  <p>
    <strong>Text:</strong>
    <%= @article.text %>
  </p>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @article.name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @article.role %>
</p>

<p>
  <strong>Oncall:</strong>
  <%= @article.oncall %>
</p>

<p>
  <strong>Locale:</strong>
  <%= @article.locale %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @article.notes %>
</p>

<br></br>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

